#nav {
    background-image: linear-gradient(to right, #090737, #390026, #640000);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

/*Font*/
@font-face {
    font-family: 'Pixel UniCode';
    src: url('bilder/fonter/Pixel-UniCode.woff2') format('woff2'),
        url('bilder/fonter/Pixel-UniCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-size: 2em;
    font-family: 'Pixel UniCode';
}

#hsvart, #hvit {
    display: block;
    position: absolute;
   }
   h1 {
    font-family: 'Pixel UniCode';
    color: white;
    margin-left: 0.5em;
    font-size: 4vw;
    letter-spacing: 0.1em;
   }
   /*dette er for den svart bakteksten, pls do not change names from hvit to hsvart pls*/
   #hvit h1 { 
    font-family: 'Pixel UniCode';
    color: black;
    font-size: 4.1vw;
    transform: scale(1, 1.3);
    font-stretch: semi-condensed;
   }