body {
    margin: 0px;
    background-image: linear-gradient(to bottom right, #090737, #390026, #640000);
}

header {
    /*background-image: linear-gradient(to right, #090737, #390026, #640000);*/
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 50px;
    justify-content: space-between;

}
/*Språk/accessibility/fargeblind knapp*/







/*Knapper*/

/*Store install-knappen til høyre*/
.lastnedknapp {
    background-color: #ffffff00;
    border: none;
    border-radius: 4px;
    padding: 5px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.lastnedknapp:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255, 255, 255, 0.116);
}


/*Knapp til lore-tekst "show him"*/
#show_him a{
    text-decoration: none;
    color: red;
}

#show_him {
    background-color: #ffffff00;
    border: none;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 3vw;
    font-family: 'Pixel UniCode';
}

#show_him:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255, 255, 255, 0.116);
}


/*Lille install-knappen midt i*/
.lastnedknapp2 {
    background-color: #ffffff00;
    border: none;
    border-radius: 4px;
    display: block;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lastnedknapp2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgba(255, 255, 255, 0.116);
}



/*Bilder*/

/*overskrift*/
.nderstale {
    flex: 1;
    align-self:flex-start;
    max-width: 30%;
    height: auto;
    margin: 10px;
    margin-left: 100px;
}

/*Det store bildet*/
.bilderhovedside {
    max-width: 60%;
    width: 50%;
    height: auto; 
    margin: 5px;
}

/*Til de små Andersene*/
.småbilder {
    max-width: 30%;
    height: auto; 
    margin: 5px;
}



/*layout*/

/*container*/
.infobokser{
    flex-flow: wrap;
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
}

.boksen {
    order: 1;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.boksto {
    order: 2;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.bokstre {
    order: 3;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}


/*Dessa kan brukes til både bilder og tekst, gjør at de holder seg til høyre/venstre*/
.right {
    float:right;
    font-family: 'Pixel UniCode';
    font-size: 3vw;
    flex: 1;

}
.left {
    float:left;
    font-family: 'Pixel UniCode';
    font-size: 3vw;
    flex: 1;
}


/*Ting*/

/*font, hvis den trengs til ting lenger nede idk*/
@font-face {
    font-family: 'Pixel UniCode';
    src: url('bilder/fonter/Pixel-UniCode.woff2') format('woff2'),
        url('bilder/fonter/Pixel-UniCode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*mobil, knapper må krympe, Gud må vekk*/
@media only screen and (max-width: 600px) {
    .bilderhovedside, .lastnedknapp { display:none;}
    .småbilder {width: 2%;}
    .nderstale {width: 100%;}
    
}

